<html>
    <head>
        <%= erb :head%>
    </head> 

    <body>
        
        <%= erb :header %>

        <main>
            
            <div class="admin-menu">
                <ul>
                    <a href="/approve-users"><li>Approve New Users</li></a>
                    <a href="/promote-users"><li>Promote Users to Admin</li></a>
                    <a href="/reported-bookmarks"><li>Reported Bookmarks</li></a>
                    <a href="/suspended-accounts"><li>View Suspended Accounts</li></a>
                    <a href="/suspend-users"><li>Suspend Users</li></a>
                    <a href="/reset-passwords"><li>Reset User Passwords</li></a>
                </ul>
            </div>


        </main>

         <%= erb :footer %>
    </body>

</html>
