<html>

<head>
    <%= erb :head%>

    <head>

        <!-- Site Structure -->

    <body>

        <%= erb :header%>

        <main>
            <section class="central-form">
                <form method="post">
                    <div class="login-error-message" id="error_message"><%=h @error_msg%></div>
                    <div id="change-password-header">
                        <h2>Change your password</h2>
                    </div>
                    
                    <div id="password_inputs"
                        title="Password must be at least 8 characters long and contain a number and a special character (#?!@$%^&*-_)">

                        <span class="form-label">New Password*:</span>
                        <input id="user-password" class="form-input" type="password" placeholder="Create a password."
                            name="password" minlength=8 required>
                    </div>

                    <div>
                        <span class="form-label">Confirm password*:</span>

                        <input id="confirm-user-password" class="form-input" type="password"
                            placeholder="Confirm password.." name="password_validation" minlength=8 required>

                    </div>
                    <div>
                        <span class="label-desc" id="password_note">*Note: Password must be at least 8 characters long
                            and contain a number and a special character (#?!@$%^&*-_)</span>
                    </div>

                    <input id="submit-new-password" class="submission-button" type="submit" value="Change Password" class="textarea">

                    <!-- Cancel bottom should redirect to the previous page-->
                    <input class="submission-button" type="button" value="Cancel" onclick="history.back()">

                </form>
            </section>
        </main>

        <%= erb :footer%>
    </body>

</html>