<html>
    <head>
        <%= erb :head%>
    <head>
    
    <!-- Site Structure -->
    <body>
        
        <%= erb :header %>

        <main>
            <div id="verifyUserForm">
                <h2> Are you sure you verify this user and grant them access to the system? </h2>
                <form method="post">
                    <input class="submission-button" type="submit" value="Yes">  
                    <input class="submission-button" type="button" value="Cancel" onclick="history.back()"> 
                </form>
            </div>
        </main>

        <%= erb :footer %>

    </body>

</html>