<div class="comment-box">
    <%comments.each do |comment|%>
    <div class="individual-comment">
        <% if comment[:deleted] == nil %>
            <div class="comment-header">
                <h4><%=h comment[:displayName]%> - <%=h comment[:date]%></h4>
                <% if comment[:commenter] == session[:userID] %>
                    <img class= "edit-button" src="../assets/images/bin-icon.png" onclick="window.location = 'delete-comment?commentID=<%=h comment[:ID]%>'">
                <%end%>
            </div>
            <p class="comment-details"><%= comment[:details]%></p>
        <%end%>
    </div>
    <%end%>
</div>