<html>

<head>
    <%= erb :head%>
    <script src="javascript/useful-functions.js"></script>
</head>

<!-- Site Structure -->

<body>

    <%= erb :header %>

    <main>
        <a href="/"><button id="back-button">Go back</button></a>
        <%= erb :resultsTable, :locals => {:results => @results}%>
    </main>

    <%= erb :footer %>
</body>

</html>