<!-- Setup HTML -->
<meta charset="utf-8">
<title>Bookmark Site V1.0</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" type="text/css" href="styles/site-theme.css">
<link rel="shortcut icon" type="image/png" href="assets/images/favicon.png"/>
