<header>
    <h1>Bookmark Site</h1>
        <nav>
            <!-- Site search bar. -->
            <form action="search" method="get">
                <input type="text" name="search_query" placeholder="Search..">
                <input type="submit" value="Search">
            </form>
            <!-- User spesific elements.-->
            <div> 
                <% if session[:userID] == -1 %>
                    <ul>
                        <li onclick="window.location='registration'">Register</li>
                        <li onclick="window.location='login'">Login</li>
                    </ul>
                <% else %>
                <% end %>
            </div>
        </nav>
    </header>
