<header>
            <h1>Bookmark Site</h1>
            <nav>
                <!-- Site search bar. -->
                <form action="search" method="get">
                    <input type="text" name="searchQuery" placeholder="Search..">
                    <input type="submit" value="Search">
                </form>
                <!-- User spesific elements.-->
                <ul>
                    <li onclick="window.location='registration'">Register</li>
                    <li onclick="window.location='login'">Login</li>
                </ul>
            </nav>
        </header>