<html>
    <head>
        <%= erb :head%>
    <head>
    
    <!-- Site Structure -->
    <body>
        <%= erb :header %>

        <main>
            <section class="central-form">
                <form action="authenticate-user" method="post">
                    <div>
                        <span class="form-label">Email </span>
                        <input class="form-input" type="email" name="user_email" required>
                    </div>
                    <div>
                        <span class="form-label">Password </span>
                        <input class="form-input" type="password" name="user_password" required>
                        
                    </div>
                    
                    <input class="submission-button" type="submit" value="Login"><span class="login-error-message"><%= @error%> <span>
                </form>
            </section>
        </main>

        <%= erb :footer%>
    </body>

</html>