<html>
    <head>
        <%= erb :head%>
    <head>
    
    <!-- Site Structure -->
    <body>
        <%= erb :header %>

        <main>
            <section class="central-form">
                <form action="authenticate-user" method="post">
                    <div>
                        <span class="form-label">Email </span>
                        <input id="user-email" class="form-input" type="text" name="user_email" required>
                    </div>
                    <div>
                        <span class="form-label">Password </span>
                        <input id="user-password" class="form-input" type="password" name="user_password" required>
                        
                    </div>
                    <input id="submit-login" class="submission-button" type="submit" value="Login"><%if(!@error.nil?) then%><span class="login-error-message"><%= @error%> <span><%end%>
                </form>
            </section>
        </main>

        <%= erb :footer%>
    </body>

</html>