<!-- Page for displaying different messages with button to homepage -->
<html>
    <head>
        <%= erb :head %>
    </head>

    <!-- Site Structure -->

    <body>
        <%= erb :header %>

        <main>
            <%= erb @message %>
            <a href="/"><button id="back-button">Go back</button></a>
        </main>

        <%= erb :footer %>
    </body>
</html>