<html>
    <head>
        <%= erb :head%>
    <head>
    
    <!-- Site Structure -->
    <body>
        
        <%= erb :header %>

        <main>
            <form name="reportForm" method="post">
                <label for="Report">Report Category: </label>
                <br><br>
                <select name="category">
                        <option value="Link Doesn't Work">Link Doesn't Work</option>
                        <option value="Wrong tags">Wrong Tags</option>
                        <option value="Information Not Relevant">Information not Relevant</option>
                        <option value="Source Unreliable">Source Unreliable</option>
                </select>
                <br><br>
                <label for="GET-additional-details">Additional Details: </label>
                <br><br>
                <textarea cols="50" rows="6" placeholder="Enter Additional Deteails..." class-"textarea" name="details"></textarea>
                <br><br>
                <input type="submit" value="Report Bookmark">  
                <input type="button" value="Cancel" onclick="history.back()"> 
            </form>
        </main>

        <%= erb :footer %>

    </body>

</html>