<html>
    <head>
        <%= erb :head%>
    <head>
    
    <!-- Site Structure -->
    <body>
        
        <%= erb :header %>

        <main>
            <section class="basic-table" id="homepage-bookmarks-table">
                <h2>
                    <a id="home-link" href="/"><img class="edit-button" src="../assets/images/bin-icon.png"></a>
                    Search results for: '<%=h @searchQuery %>'
                </h2>
                <h2>
                    Try again with a different search...
                </h2>
            </section>
        </main>

        <%= erb :footer %>
    </body>

</html>