<html>
    <head>
        <%= erb :head%>
    <head>
    
    <!-- Site Structure -->
    <body>
        
        <%= erb :header %>

        <main>
            <section class="basic-table" id="homepage-bookmarks-table">
                <h2>
                    No Results found for <%= erb @searchQuery %>
                </h2>
                <h2>
                    Try again with a different search...
                </h2>
            </section>
        </main>

        <%= erb :footer %>
    </body>

</html>