<html>
    <head>
        <%= erb :head%>
    <head>
    
    <!-- Site Structure -->
    <body>
        
        <%= erb :header %>

        <main>
            <section class="basic-table" id="homepage-bookmarks-table">
                <h2>
<<<<<<< HEAD
                    <img class="edit-button" src="../assets/images/bin-icon.png" onclick="window.location = ''">
                    Showing results for: <% @searchQuery %>
=======
                    No Results found for <%= erb @searchQuery %>
>>>>>>> a5338b7cf94261d1717ae754af107bcac98494c1
                </h2>
                <h2>
                    Try again with a different search...
                </h2>
            </section>
        </main>

        <%= erb :footer %>
    </body>

</html>