<html>
    <head>
        <%= erb :head%>
    </head>
      <!-- Site Structure -->

    <body>
    <h1>Profile page</h1>
        <%= erb :header %>

        <main>
            
    

        <div>
             
     <section class='profilepage'>
        <h1>Basic Information</h1>
        <form action="action.php" method="post">
            <p>Your name: <input type="text" name="name" /></p>
            <p>Your age: <input type="text" name="age" /></p>
            <p>Your Date of Birth: <input type="text" name="date" /></p>
            <p>Your Nation: <input type="text" name="nation" /></p>
            <p><input type="submit" />EDIT</p>
            </form>
         
         //<button class="btn_edit" onclick="">EDIT</button>

   
        
        </main>

        <%= erb :footer%>
    </body>

</html>
