<form method="post" name="addRatingForm">
    <select class="option-input" name="selection">
        <option value="" selected disabled hidden>select value</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <input class="submission-button" type="submit" value="Submit Rating">
</form>  
