<html>
    <head>
        <%= erb :head%>
    <head>
    
    <!-- Site Structure -->
    <body>
        <%= erb :header %> 

        <main>
            <%= @reportTable %>
        </main>

        <%= erb :footer%>
    </body>

</html>