<html>
    <head>
        <%= erb :head%>
    <head>
    
    <!-- Site Structure -->
    <body>
        
        <%= erb :header %>

        <main>
            <%= erb :tagControl%>
        </main>

        <%= erb :footer %>
    </body>

</html>