<html>

<head>
    <%= erb :head%>

    <head>

        <!-- Site Structure -->

    <body>
        <%= erb :header %>

        <main>
            <%= @userTable %>
        </main>

        <%= erb :footer%>
    </body>

</html>