/*
 * File for all the styles that are distinctive across 
 * the bookmarks site. Made for the COM1001 - Group Assesment.
 */

/*
 * ===== Mobile Styles =====
 */

/*
 * ===== Tablet Styles =====
 */

@media only screen and (min-width: 400px) {}

/*
 * ===== Desktop Styles =====
 */

@media only screen and (min-width: 800px) {

	/*--------------- General Tags ---------------*/
	body {
		width: 100%;
		height: 100%;
		margin: 0px auto;
		text-align: justify;
		background-color: rgb(50, 45, 50);
		color: rgb(250, 250, 250);
		font-family: "Ubuntu", sans-serif;
		/* Enables the secret background image lol. */
		/*background-image: url('../assets/images/wallpaper.jpg');
        background-size: cover;*/
	}

	h1,
	h2 {
		margin: 6px;
		padding: 0px;
		font-size: 1.6em;
	}

	p {
		margin: 0px auto;
		text-align: justify;
		font-size: 16px;
	}

	ul {
		margin: 0px auto;
	}

	a {
		text-decoration: none;
		color: inherit;
		margin: inherit;
		width: inherit;
		padding: inherit;

		display: inherit;
	}

	/*--------------- Header ---------------*/
	header {
		margin: 0px;
		padding: auto;
		display: flex;
		font-size: 1.6em;
		background-color: rgba(0, 0, 0, 0.3);
	}

	header h1 {
		width: 50%;
	}

	header nav {
		width: 50%;
		list-style: none;
		display: flex;
		justify-content: flex-end;
	}

	header nav ul {
		display: flex;
		padding: 0px 4px;
		margin: 0px;
		height: 100%;
	}

	header nav ul li {
		font-size: 0.8em;
		padding: 6px 8px;
		margin: auto 2px;
		display: flex;
		background-color: rgba(0, 0, 0, 0.7);
	}

	header nav ul li:hover {
		background-color: rgba(100, 100, 100, 0.9);
	}

	header nav form {
		display: flex;
		padding: 0px 4px;
		margin: 0px;
		height: 100%;
		vertical-align: middle;
	}

	header nav form input {
		padding: 6px 8px;
		margin: auto 0px;
		display: flex;
		color: white;
		background-color: rgba(0, 0, 0, 0.9);
		border: 0px solid white;
		border-bottom: 1px solid white;
		font-size: 0.6em;
	}

	header nav form input:hover {
		background-color: rgba(100, 100, 100, 0.9);
	}

	/*--------------- Footer ---------------*/

	footer {
		position: fixed;
		bottom: 0px;
		width: 100%;
		margin: 0px;
		padding: 4px 6px;
		background-color: rgba(0, 0, 0, 0.9);
	}

	.homicon {
		height: 40px;
		width: 40px;
		margin: 7px 5px -5px 7px;
	}

	/*--------------- Main ---------------*/

	/* ===== Basic Tables ===== */
	section.basic-table {
		background-color: rgba(0, 0, 0, 0.5);
		padding: 2px;
		margin-bottom: 30px;
	}

	.edit-button {
		width: 20px;
		height: 20px;
	}

	section.basic-table div {
		background-color: rgba(0, 0, 0, 0.75);
		margin: 2px auto;
		padding: 2px;
		width: 60%;
		max-width: 1000px;
		display: flex;
	}

	/* Bookmark Table */

	.bookmark-title {
		margin: 0px;
		padding: 2px 4px;
		width: 35%;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.bookmark-views {
		margin: 0px;
		padding: 2px 6px;
		width: 20%;
		justify-content: center;
		border-left: 1px solid white;
	}

	.bookmark-rating {
		margin: 0px;
		padding: 2px 6px;
		justify-content: center;
		border-left: 1px solid white;
	}

	.edit-buttons {
		display: flex;
		justify-content: flex-end;
		right: 0px;
		text-align: end;
		background-color: none;
	}

	.edit-buttons a {
		display: flex;
		margin: 0px;
		padding: 0px;
		width: auto;
	}

    .user-displayName{
        margin: 0px;
        padding: 4px 4px;
        width: 30%;
    }

    .user-email{
        margin: 0px;
        padding: 2px 6px;
        justify-content: center;
        border-left: 1px solid white;
        min-width: 10%;
	}
	.user-department{
		border-left: 1px  solid white;
		margin: 0px;
        padding: 2px 6px;
	}

	section.basic-table div.verify-buttons{
		max-width: 30%;
		padding: 0px;
		z-index: 1;
	}

    section.basic-table div.verify-buttons, .verify-buttons a{
		display: flex;
		justify-content: flex-end;
		margin: 0px;
		padding: 0px;
    }

    .verify-buttons input{
        border: none;
        color: white;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .verify-buttons input:hover{
        background-color: rgba(100, 100, 100, 0.7);
	}
	.verify-buttons .admin-label{
		padding: 4px 4px;
	}
	
	/* ===== Reported bookmark table ====== */ 
	.report-details{
        z-index: 1;
    }
	.report-title{
        margin: 0px;
        padding: 2px 4px;
		min-width: 40%;
		
    }

    .report-views{
        margin: 0px;
        padding: 2px 4px;
        justify-content: center;
        border-left: 1px solid white;
        min-width: 20%;
    }

    .report-rating{
		margin: 0px;
        padding: 2px 6px;
        border-left: 1px solid white;
        min-width: 40%;
	}
	
	.report-count{
		margin: 0px;
        padding: 2px 6px;
        border-left: 1px solid white;
        min-width: 40%;
	}

	/* ===== advanced Serach form styling =====*/

	main #advanced-search-form {
		display: none;
	}

	main #advancedSearch-button {
		margin-bottom: -5px;
	}

	/* ===== bookmark spesifics ===== */
	main section.item-details {
		width: 60%;
		margin: 10px auto;
		padding: 10px;
		max-width: 700px;
		background-color: rgba(0, 0, 0, 0.3);
	}

	main section.item-details .bookmark-details h2,
	main section.item-details .bookmark-details div {
		background-image: linear-gradient(to right,
				rgba(0, 0, 0, 0.5),
				rgba(0, 0, 0, 0));
		margin: 10px 0px;
		padding: 4px;
	}

	main section.item-details .bookmark-details div.edit-buttons {
		justify-content: flex-start;
	}

	main section.item-details .bookmark-details div.edit-buttons img.edit-button {
		width: 30px;
		height: 30px;
	}

	main section.item-details div.bookmark-details div.rating div.choose-rating {
		padding: 20px;
		display: inline;
	}

	/*Styling for the ratings system.*/
	main section.item-details div input.setting-button,
	main section.item-details div .option-input,
	main section.item-details div .submission-button {
		border: none;
		color: white;
		background-color: rgba(0, 0, 0, 0.7);
	}

	main section.item-details div input.setting-button:hover,
	main section.item-details div .option-input:hover {
		background-color: rgba(100, 100, 100, 0.7);
	}

	/* Rules for styling tags */

	main section.item-details .tagDisplay {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	main section.item-details .tagDisplay a.tagLink {
		display: inline-block;
		margin: 4px;
		background-color: rgba(0, 0, 0, 0.6);
		border-radius: 5px;
	}

	main section.item-details .tagDisplay a.tagLink:hover {
		background-color: rgba(100, 100, 100, 0.6);
	}

	/* Styles for comment section */
	main section.item-details .bookmark-details .display-comments {
		height: 40%;
		display: flex;
		flex-direction: column;
	}

	main section.item-details .bookmark-details .display-comments .comment-section-header {
		background-image: none;
		padding: 0px;
	}

	main section.item-details .bookmark-details .display-comments .comment-box {
		overflow-y: scroll;
		overflow-x: hide;
		padding: 0px;
		background-image: none;
	}

	main .item-details .bookmark-details .display-comments .comment-box .comment-header {
		background-image: none;
		display: flex;
		flex-direction: row;
		padding: 0px;
	}

	main .item-details .bookmark-details .display-comments .comment-box .individual-comment .comment-header img {
		padding: 15px;
	}

	main .item-details .bookmark-details .display-comments .comment-box .individual-comment {
		padding: 0px;
		background-image: none;
	}

	/* Scrollbar style */
	::-webkit-scrollbar {
		width: 10px;
	}

	::-webkit-scrollbar-track {
		background: rgb(50, 45, 50);
	}

	::-webkit-scrollbar-thumb {
		background: rgb(250, 250, 250);
	}

	::-webkit-scrollbar-thumb:hover {
		background: rgb(169, 169, 169);
	}

	/* ===== Central Form Styling ===== */

	main section.central-form {
		margin: 10px auto;
		width: 50%;
		max-width: 700px;
		background-color: rgba(0, 0, 0, 0.3);
	}

	main section.central-form form {
		margin: 0px;
		padding: 2px;
		display: flex;
		flex-direction: column;
	}

	main section.central-form form div {
		padding: 0px;
		margin: 10px;
		display: flex;
		justify-content: space-between;
		background-color: rgba(0, 0, 0, 0.3);
	}

	main section.central-form form div .form-label {
		font-size: 1.2em;
		padding: 4px 8px;
	}

	main section.central-form form div .label-desc {
		color: rgba(255, 255, 255, 0.6);
		font-size: 0.8em;
	}

	main section.central-form form div .form-input {
		background-color: rgba(0, 0, 0, 0.3);
		border: 1px solid white;
		color: white;
		width: 60%;
	}

	main section.central-form form .submission-button {
		padding: 4px;
		margin: 2px auto;
		background-color: rgba(0, 0, 0, 0.3);
		border: none;
		color: white;
		width: 40%;
		font-size: 1.4em;
	}

	main section.central-form form .submission-button:hover {
		background-color: rgba(100, 100, 100, 0.9);
	}

	main section.central-form form .login-error-message {
		padding: 4px 10px;
		margin: 2px auto;
		background-color: rgba(100, 0, 0, 0.3);
		font-size: 1.4em;
		align-items: center;
		color: red;
	}

	/* ========= Filter Form Styles ========= */

	main section.central-form .filter-item {

		justify-content: left;
		vertical-align: middle;

	}

	main section.central-form .filter-item .filter-checkbox{

		width: 5%;
		margin: auto;
	}

	main section.central-form .filter-item .form-label{

		width: 20%;
		margin: auto;

	}

	main section.central-form .filter-item .filter-field{
		width: 75%;
		padding: 5px 0;
		justify-content: center;
	}

	main section.central-form .filter-item .filter-dropdown{
		margin: 0 5px;
	}


	/* ========= Admin Menu Styles ========= */
	main .admin-menu {
		width: 50%;
		max-width: 700px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 0 auto;
	}

	main .admin-menu ul {
		padding: 15px 0px;
		margin: auto;
		list-style: none;
		width: 100%;
		text-align: center;
	}

	main .admin-menu ul li {
		padding: 6px 8px;
		margin: auto 2px;
		background-color: rgba(0, 0, 0, 0.7);
		font-size: 1.6em;
		width: 100%;
		margin: auto;
	}

	main .admin-menu ul li:hover {
		background-color: rgba(100, 100, 100, 0.9);
	}
}