/*
 * File for all the styles that are distinctive across 
 * the bookmarks site. Made for the COM1001 - Group Assesment.
 */

/*
 * ===== Mobile Styles =====
 */


/*
 * ===== Tablet Styles =====
 */

@media only screen and (min-width: 400px) {
    
}

/*
 * ===== Desktop Styles =====
 */

@media only screen and (min-width: 800px) {
 /*-------------general tags-----------------*/
    body{
        width:100%;
        height:100%;
        margin: 0px auto;
        text-align:justify;
        background-color: #e8f4f8;     
    }

    h1,h2{
        margin:0px auto;
        padding:0px:
        font-size:36px;
    }
    
    p{
        margin:0px auto;
        text-align:justify;
        font-size:16px;
    }
    a{
        text-decoration: none;
    }
    
    ul{
        margin:0px auto;
    }
    
/*------------------header------------------*/
    header{
        margin: 0px;
        padding: 6px;
    }
}